.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: max-content;
}
.marquee__item {
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-name: marquee-content;
  animation-timing-function: linear;
  padding: 5px 15px 5px 15px;
  flex-shrink: 0;
}
.marquee:hover .marquee__item {
  animation-play-state: paused;
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
